src/
bin/
resources/
dist/
example/
emoji-data/
.editorconfig
.eslintignore
.eslintrc
.travis.yml
bower.json
index.html
webpack.config.js
webpack.dev.config.js
webpack.lib.config.js
npm-debug.log
.npmignore
