// Apple
.ep-e-a-16 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_apple_16.png');
}
.ep-e-a-20 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_apple_20.png');
}
.ep-e-a-32 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_apple_32.png');
}
.ep-e-a-64 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_apple_64.png');
}

// Emojione
.ep-e-e-16 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_emojione_16.png');
}
.ep-e-e-20 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_emojione_20.png');
}
.ep-e-e-32 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_emojione_32.png');
}
.ep-e-e-64 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_emojione_64.png');
}

// Google
.ep-e-g-16 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_google_16.png');
}
.ep-e-g-20 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_google_20.png');
}
.ep-e-g-32 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_google_32.png');
}
.ep-e-g-64 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_google_64.png');
}

// Twitter
.ep-e-t-16 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_twitter_16.png');
}
.ep-e-t-20 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_twitter_20.png');
}
.ep-e-t-32 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_twitter_32.png');
}
.ep-e-t-64 {
  display: inline-block;
  background-image: url('~emoji-data/sheet_twitter_64.png');
}
