@import 'categories-icons/apple';

$size-categories-icons: 32px;
$size-categories: 40px;
$size-slide: 3px;

.ep {
  height: 100%;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  ::-webkit-scrollbar {
    width: 6px!important;
  }
  ::-webkit-scrollbar-thumb {
      background-color: rgba(0,0,0,.2);
  }
  ::-webkit-scrollbar-track {
      background: rgba(255,255,255,.08);
  }
}
.ep-container {
  height: 100%;
}
.ep-categories {
  height: $size-categories;
  padding-bottom: $size-slide;
  display: flex;
  position: relative;
  background-color: #fff;
}
.ep-slide {
  position: absolute;
  height: $size-slide;
  will-change: margin-left;
  transition: margin-left ease-in-out;
  background-color: #93D3CC;
  bottom: 0;
}
.ep-c {
  cursor: pointer;
  flex: 1 1;
  text-align: center;
  font-size: $size-categories-icons;
  color: silver;
  opacity: 1;
  :hover {
    opacity: 0.8;
  }
  >*{
    vertical-align: middle;
  }
}
.ep-c-text {
  display: none;
}
.ep-emojies {
  background-color: #F0F0F0;
  position: relative;
  height: calc(100% - #{$size-categories + $size-slide});
  overflow-y: auto;
  .ep-e {
    margin: 6px;
    cursor: pointer;
  }
}
.ep-emojies-c {
  display: flex;
  flex-wrap: wrap;
  &:last-child {
    position: absolute;
    min-height: 100%;
  }
}
